.del-btn,
.arrows{
	float: right;
	color: red;
	font-size: 1.5em;
	line-height: 18px;
	cursor: pointer;
	margin: 0 6px;
}

.arrows{
	color: lightgreen;
}

.todo-list{
	display: none;
}
.todo-list.show{
	display: block;
}